.contact {
  width: 100%;
}

.contact__cooperation {
  margin: 28px auto 26px;
  width: 87.5%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact__title {
  @include indent-reset;

  width: 44%;

  @include font(16px, 400, 20px);
  color: #111111;
  text-transform: uppercase;
}

.contact__adress {
  @include indent-reset;

  width: 49%;

  @include font(14px, 400, 20px);
  font-family: "Arial", sans-serif;
  color: #444444;
}

.contact__map {
  width: 100%;
}
