.page-header {
  width: 100%;
}

.page-header--nojs .page-header__btn-menu{
  display: none;
}

.page-header--nojs .main-nav {
  display: inline-block;
}

.page-header__top-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  min-height: 65px;

  border-bottom: 1px solid #f2f2f2;
}

.page-header__link-logo {
  margin-left: 20px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__btn-menu {
  margin-right: 22px;
  border: none;
  background-color: white;

  background: url("../img/icon-mobile-menu.svg") no-repeat;
  width: 25px;
  height: 19px;
  outline: none;

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }

  &:active {
    opacity: 0.6;
  }

  &--close {
    background: url("../img/icon-close.svg") no-repeat;
    width: 19px;
  }
}
