@charset "UTF-8";
@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: "Oswald", "Arial", sans-serif; }

a {
  text-decoration: none; }

.page-header {
  width: 100%; }

.page-header--nojs .page-header__btn-menu {
  display: none; }

.page-header--nojs .main-nav {
  display: inline-block; }

.page-header__top-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 65px;
  border-bottom: 1px solid #f2f2f2; }

.page-header__link-logo {
  margin-left: 6.25%; }
  .page-header__link-logo:hover {
    opacity: 0.8; }
  .page-header__link-logo:active {
    opacity: 0.6; }

.page-header__btn-menu {
  margin-right: 6.87%;
  border: none;
  background-color: white;
  background: url("../img/icon-mobile-menu.svg") no-repeat;
  width: 25px;
  height: 19px;
  outline: none; }
  .page-header__btn-menu:hover {
    opacity: 0.8;
    cursor: pointer; }
  .page-header__btn-menu:active {
    opacity: 0.6; }
  .page-header__btn-menu--close {
    background: url("../img/icon-close.svg") no-repeat;
    width: 19px; }

.main-nav {
  width: 100%; }

.main-nav--close {
  display: none; }

.main-nav__list {
  margin: 0;
  padding: 0; }

.main-nav__item {
  padding: 22px 0 23px;
  border-bottom: 1px solid #f2f2f2;
  list-style-type: none;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase; }

.main-nav__item a[href] {
  text-decoration: none;
  color: #111111; }
  .main-nav__item a[href]:hover {
    opacity: 0.6; }
  .main-nav__item a[href]:active {
    opacity: 0.3; }

.select-program {
  width: 100%;
  text-align: center;
  color: #ffffff; }

.select-program__wrapper {
  background: url("../img/index-background-mobile@1x.jpg") no-repeat center;
  background-size: 100% auto;
  background-color: #68b738; }

.select-program__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  padding: 27px 0 25px;
  margin: 0 auto;
  width: 250px; }

.select-program__description {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  padding-bottom: 167px; }

.select-program__img {
  display: block;
  margin: -139px auto 3px; }

.select-program__btn {
  margin: 0 auto;
  padding-top: 11px;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68b738;
  width: 280px;
  height: 40px; }
  .select-program__btn:hover {
    background-color: #5eaa2f; }
  .select-program__btn:active {
    opacity: 0.3; }

.page-main {
  width: 100%; }

.purpose {
  width: 100%; }

.purpose__list {
  margin: 0;
  padding: 0;
  margin-top: 22px; }

.purpose__item {
  margin: 0 auto 19px;
  width: 87.5%;
  position: relative;
  background-color: #f2f2f2;
  list-style-type: none; }

.purpose__title {
  margin: 0;
  padding: 0;
  padding-top: 31px;
  padding-left: 91px;
  position: relative;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  color: #111111;
  text-transform: uppercase; }
  .purpose__title::before {
    content: "";
    position: absolute;
    top: 24px;
    left: 22px;
    width: 50px;
    height: 50px;
    background-color: #68b738;
    border-radius: 100%; }

.purpose__title--slim::after {
  content: "";
  position: absolute;
  top: 22px;
  left: 30px;
  width: 35px;
  height: 49px;
  background: url("../img/icon-cat-slim.svg") no-repeat; }

.purpose__title--pro::after {
  content: "";
  position: absolute;
  top: 36px;
  left: 13px;
  width: 67px;
  height: 28px;
  background: url("../img/icon-cat-pro.svg") no-repeat; }

.purpose__description {
  margin: 0;
  padding: 0;
  padding: 28px 20px 22px;
  position: relative;
  display: inline-block;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  color: #444444; }

.purpose__line {
  margin: 0 auto;
  width: 85.7%;
  height: 1px;
  background-color: #444444;
  opacity: 0.1; }

.purpose__link-catalog {
  display: block;
  padding: 20px 20px;
  position: relative;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  color: #111111; }
  .purpose__link-catalog::after {
    content: "";
    position: absolute;
    top: 23px;
    left: 116px;
    width: 25px;
    height: 12px;
    background: url("../img/icon-right-arrow-long.svg") no-repeat; }
  .purpose__link-catalog:active {
    opacity: 0.3; }

.advantages {
  width: 100%; }

.advantages__title {
  margin: 0;
  padding: 0;
  padding-left: 6.25%;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px; }

.advantages__list {
  margin: 0;
  padding: 0;
  margin: 31px auto 42px;
  list-style-type: none;
  width: 87.5%; }

.advantages__item {
  margin-bottom: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.advantages__img {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  margin-right: 19px;
  margin-top: -2px;
  width: 60px;
  height: 60px;
  background-color: #68b738; }

.advantages__description {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  font-family: "Arial", sans-serif; }

.example {
  width: 100%;
  background-color: #f2f2f2; }

.example__title {
  margin: 0;
  padding: 0;
  padding: 17px 6.25%;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px; }

.example__description {
  margin: 0;
  padding: 0;
  padding: 6px 7% 5px 6.25%;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #444444; }

.example__number {
  margin: 0;
  padding: 0;
  margin: 20px auto 26px;
  width: 87.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.example__item {
  margin: 0;
  padding: 0;
  padding-top: 13px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 124px;
  min-height: 56px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: #111111;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #cdcdcd; }
  .example__item::after {
    content: "";
    position: absolute;
    top: 46px;
    left: 16px;
    width: 87px;
    height: 21px;
    padding: 0 4px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: "Arial", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    color: #444444;
    text-transform: none;
    background-color: #f2f2f2; }

.example__item--kg::after {
  content: "снижение веса"; }

.example__item--days::after {
  content: "затрачено времени";
  left: 17px; }

.example__cost {
  width: 87.5%;
  margin: 0 auto;
  padding-top: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px; }

.example__cost p {
  margin: 0;
  padding: 0; }
  .example__cost p:first-of-type {
    padding-right: 3px; }

.example__picture {
  display: block;
  margin: 35px auto 20px;
  height: 239px;
  width: 320px; }

.example__scale {
  margin: 0 auto;
  padding: 12px 0 36px;
  width: 64%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111; }

.example__scale p {
  margin: 0;
  padding: 0; }

.example__scale input {
  width: 84px; }

.contact {
  width: 100%; }

.contact__cooperation {
  margin: 28px auto 26px;
  width: 87.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.contact__title {
  margin: 0;
  padding: 0;
  width: 44%;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase; }

.contact__adress {
  margin: 0;
  padding: 0;
  width: 49%;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  font-family: "Arial", sans-serif;
  color: #444444; }

.contact__map {
  width: 100%; }

.page-footer {
  width: 100%;
  text-align: center; }

.page-footer__wrapper {
  width: 87.5%;
  margin: 0 auto; }

.page-footer__link-logo {
  display: block;
  padding: 34px 0 27px;
  position: relative; }
  .page-footer__link-logo:hover {
    opacity: 0.8; }
  .page-footer__link-logo:active {
    opacity: 0.6; }
  .page-footer__link-logo::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #444444;
    opacity: 0.1; }

.page-footer__copyright {
  padding: 10px 0 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }
  .page-footer__copyright::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #444444;
    opacity: 0.1; }

.page-footer__copyright-text {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #444444; }

.page-footer__htmlacademy {
  height: 42px;
  width: 42px;
  fill: #666666; }

.page-footer__link-htmlacademy svg use {
  fill: #666666; }

.page-footer__link-htmlacademy:hover svg {
  fill: #68b738; }

.social {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin: 20px auto 16px;
  padding-right: 9px;
  width: 45%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.social__item:hover svg {
  fill: #68b738; }

.social__item:active svg {
  opacity: 0.3; }

.social__item--fb {
  margin-top: 2px; }

.social__item--vk {
  margin-top: -2px; }

/*# sourceMappingURL=style.css.map */
