@import "fonts.scss";
@import "visually-hidden.scss";
@import "variables.scss";
@import "mixin.scss";
@import "scaffolding.scss";

@import "blocks/page-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/select-program.scss";
@import "blocks/page-main.scss";
